*{
	font-family: sans-serif ;
	color: white;	
	margin: 0;
	padding: 0;

}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(paris.jpg);
	background-size: cover;
	background-position: center ;
	height: 100vh;
	background-attachment: fixed;
}.header ul{
	float: right;
	margin-top: 20px;
}
.header ul li {
	display: inline-block;
}
.header ul li a{
	border: 1px solid transparent;
	text-decoration: none;
	
	padding:5px 20px;
	transition: 0.6s ease;
	border-radius: 5px;
}

.header ul li a:hover
{
	background-color: blue;
	color:white;
}

.header{
	max-width: 1200px;
	margin:auto;
}
.header h1{
	text-shadow:4px 4px 6px purple;

}
.info{
	margin:10%;
}

.button{
	position: absolute;
	top:60%;
	left:50%;
	transform: translate(-50%,-50%);
}

.btn{
	border:1px solid white;
	padding: 5px 10px;
	transition: 0.6s ease;
	border-radius: 5px;
	text-decoration: none;
	font-size: 20px;
}
.btn:hover
{
	background-color: blue;
	color:white;
	font-weight: bold;
}